<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>The Daily Post</h1>
        {% if user.is_authenticated %}
        <h3>Welcome {{ user }}</h3>
        <a href='logout'><button>logout</button></a>
        <a href='post'><button>Post your blog</button></a>
        {% else %}
        <h3>Welcome user</h3>
        <a href='login'><button>login</button></a>
        <a href='signup'><button>signup</button></a>
        <p>create an account and login to start posting</p>
        {% endif %}
        

        <form method="get" action="">
            <input type="text" name="category" placeholder="Search by category" value="{{ request.GET.category }}" id = 'category'>
            <button type="submit" id = 'search'>Search</button>
        </form>
    </header>

    {% if posts %}
        {% for post in posts %}
        <div class='block'>
            <h2><a href="{% url 'blog' post.id %}" id="button">{{ post.title }}</a></h2>
            <h4>{{ post.Dates }}</h4>
            <p>{{ post.description|truncatewords:20 }}</p>
            <h5>{{ post.category }}</h5>
            <h4>Author : {{post.author.username}}</h4>
            <a href="{% url 'blog' post.id %}" id="read">Read more</a>        
        </div>
        {% endfor %}
    {% else %}
        <p>No posts found for this category.</p>
    {% endif %}
</body>
</html>
