<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel = "stylesheet" href = "{%static 'signup.css' %}">
</head>
<body>
    <header>Signup</header>
    {%for message in messages%}
        <p id = 'm'>{{message}}</p>
    {%endfor%}    
    <form method = 'post' action = 'signup'>
        {%csrf_token%}
        <p>Enter Username</p>
        <input type="text" name = 'username'>
        <p>Enter Email</p>
        <input type ='email' name = 'email'>
        <p>Enter password</p>
        <input type = 'password' name = 'password'>
        <p>Re-enter password</p>
        <input type = 'password' name = 'password2'><br>
        <input type ='submit' id = 'button'>
    </form>
</body>
</html>